body{
    height: 5.2cm;
    width: 6.2cm;
    background-color: gray;
    align-content: center;
    justify-content: center;
}
table{
    top: 4mm;
    left: 4mm;
    position: absolute;
    border: 3px black solid;
    text-align: center;
}
td{
    height: 0.9cm;
    width: 0.9cm;
    background-color: lightgray;
}
.display{
    column-span: 6;
}